//will import _chat.scss
.panel > .panel-heading, label {
	color: #3d673c;
}

.panel {
	/*margin:40px;*/
	background-color: lemonchiffon;
}
.card-content {
  color: #3d673c;
  width: 100%;
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom:20px;
  margin-bottom: 20px;
}


#message-input, #user-name-input, label {
	font-size: 15px;
	resize: none;
}

th {
	text-align: center;
}

td {
text-align: center;
	color: #60b37a;
	padding: 10px;
}

#mess{
  width:50%;
  margin-top: 6px;

}

#Convos{
	max-height: 700px;
	overflow-y: auto;
	background-color: white;
	border-color: white;
}

#ConvosWrite{
  background-color: white;
}

#avatarImg {

	height: 64px;
	width: 64px
}


.chatMessage {

	margin: 0;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f5f5f5;
	color: #727475;
	border-radius: 25px;
}
