//will import _googleMaps.scss
body {
  font-family: sans-serif;
}

#map-canvas,
#panel {
  height: 390px;
  width: 100%
}

#panel {
  width: 100%;
  height: 300px;
  float: left;
  margin-right: 10px;
  background-color: white;
}

#panel .feature-filter label {
  width: 130px;
}

p.attribution,
p.attribution a {
  color: #666;
}
